.slide {
  height: 100%;
  background-color: #fff;
  color: $white;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  &__oval-gradient {
    height: 100%;
    top: 0;
    width: 200%;
    position: absolute;
    left: 0;
    background-image: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,1) 100%);
    z-index: 9;
    opacity: 0.6;
  }

  &__inner {
    position: relative;
    z-index: 10;

    margin: 0 20px;
    @include tablet {
      margin: 0 50px;
    }
  }

  &__children-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 720px;
  }

  &__logo {
    position: absolute;
    z-index: 999999;

    width: 75px;
    top: 20px;
    left: 20px;

    @include tablet {
      width: 120px;
      top: 50px;
      left: 50px;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  &__children {
    // justify-self: center;
    // align-items: flex-start;
  }
}

.slider .slide {
  pointer-events: none;
}