.slider {
  &__pause-button {
    display: none;
    background-image: url('../assets/images/pause-cursor.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 8888;
    cursor: pointer;

    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;

    @include tablet {
      top: 50px;
      right: 50px;
      width: 65px;
      height: 65px;
      display: block;
    }
  }

  &--is-paused {
    .slider__pause-button {
      background-image: url('../assets/images/play-cursor.svg');
    }
  }

  &__sliding-door {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    z-index: 999;
    pointer-events: none;
  }

  &__sliding-door--left {
    @extend .slider__sliding-door;
    width: 50%;
    left: 0;
  }

  &__sliding-door--right {
    @extend .slider__sliding-door;
    width: 50%;
    right: 0;
    left: auto;
  }

  &__quote {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;

    padding: 0 10px;
    @include tablet {
      padding: 0;
    }
  }
}