.subscribe-banner {
  position: absolute;
  bottom: 30px;
  left: 0;
  color: $white;
  z-index: 99;

  p {
    margin: 0.5rem 0;
    font-size: 1.8rem;
  }

  @include tablet {
    bottom: 80px;

    p {
      margin: 1rem 0;
      font-size: 2.3rem;
    }
  }
}