.line-button {
  font-weight: 900;
  font-size: 2.1rem;
  color: $white;
  position: relative;
  padding: 10px 0;
  display: inline-block;
  transition: transform 300ms ease-out;

  &:hover {
    transform: scale(1.1);

    &:after {
      width: 100%;
    }
  }

  &:active {
    transform: scale(1.0);

    &:after {
      width: calc(100% + 60px);
    }
  }

  img {
    margin-left: 10px;
    display: inline-block;
    transform: translateY(2px);
  }

  &:after {
    transition: width 150ms ease-out;

    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: calc(100% + 60px);
    height: 3px;
    background-color: $yellow;
  }

  svg {
    margin-left: 10px;
  }

  &:hover {
    color: $white;
  }
}