@font-face {
  font-family: 'Manrope';
  font-weight: 900;
  src: url('../assets/fonts/manrope-extrabold-webfont.woff2') format('woff2'),
       url('../assets/fonts/manrope-extrabold-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  src: url('../assets/fonts/manrope-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/manrope-medium-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: url('../assets/fonts/manrope-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/manrope-regular-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  font-weight: 100;
  src: url('../assets/fonts/manrope-extralight-webfont.woff2') format('woff2'),
       url('../assets/fonts/manrope-extralight-webfont.woff') format('woff');
  font-style: normal;
}