input,
textarea,
button,
select {
  font: inherit;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

label {
  font-family: inherit;
  font-size: 1.4rem;
  color: $yellow;
  -webkit-font-smoothing: subpixel-antialiased;

  span {
    font-size: 1.3rem;
    text-transform: lowercase;
    color: rgba($white, 0.5);
    margin-left: 10px;
  }
}

select {
  width: 100%;
  display: block;
  color: $white;
  font-weight: 400;
  -webkit-appearance: none;
  outline: 0;
  background-color: transparent;
  border-bottom: 2px solid rgba($white, 0.7);
  border-radius: 0;

  height: 5rem;
  // Use at least 16px to prevent zoom on mobile safari
  font-size: 16px;
  margin-bottom: -5px;

  @include tablet {
    height: 6.2rem;
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

option {
  background-color: $black;
}

input {
  width: 100%;
  font-weight: 400;
  display: block;
  color: $white;
  border-bottom: 2px solid rgba($white, 0.7);
  background-color: transparent;
  transition: padding-bottom 300 ease-out;

  &:focus {
    border-bottom: 2px solid rgba($white, 1.0);
  }

  // Use at least 16px to prevent zoom on mobile safari
  font-size: 16px;
  padding: 0.8rem 0;
  margin-bottom: -5px;

  @include tablet {
    font-size: 2rem;
    padding: 1.4rem 0;
    margin-bottom: 10px;
  }
}

input[type=submit] {
  font-family: inherit;
  font-size: 2.8rem;
  font-weight: 700;
  color: $yellow;
  border: 1px solid $yellow;
  background-color: transparent;
  border-radius: 0;
  padding: 2.0rem 0;
  height: auto;
  -webkit-font-smoothing: antialiased;
  transition: background-color 150ms ease-out, color 150ms ease-out;

  @media screen and (max-width: 1024px) {
    font-size: 1.8rem;
  }

  &:hover {
    background-color: $yellow;
    color: $black;
    border-color: $yellow;
  }
}

.form__dropdown {
  position: relative;
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    transform: rotate(90deg);
    pointer-events: none;
  }
}

.animations__appear-mask {
  overflow: hidden;
}