.is-family-script {
  font-family: Blog Script, serif;
}

.has-text-red {
  color: $red;
}

.has-text-green {
  color: $green;
}

.has-text-yellow {
  color: $yellow;
}

.has-text-extra-light {
  font-weight: 100;
}

.has-background-red {
  background-color: $red;
}

.has-background-yellow {
  background-color: $yellow;
}

.has-background-green {
  background-color: $green;
}

.has-background-blue-light {
  background-color: $blue-light;
}

.is-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.columns.is-bottom-aligned {
  align-items: flex-end;

  @include desktop {
    &-desktop {
      align-items: flex-end;
    }
  }
}

.is-row-reversed {
  @include tablet {
    flex-direction: row-reverse;
  }
}

.image {
  @include tablet {
    &.is-16by9-tablet {
      padding-top: 56.25%;
    }
  }

  &.is-circle {
    @extend .is-square;

    .has-ratio {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .has-ratio {
    object-fit: cover;
  }
}

.icon {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
