html {
  font-size: 8px;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  width: auto !important;
  max-width: 100% !important;

  margin: 0 20px;
  @include tablet {
    margin: 0 50px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  line-height: 1;

  &.is-family-script {
    line-height: 1.2;
  }
}

h1,
.h1 {
  font-size: calc(7.2rem * 0.6);
  line-height: 1.1;

  @include tablet {
    font-size: 7.2rem;

    &.is-large {
      font-size: calc(8.5rem * 0.75);

      @include desktop {
        font-size: 8.5rem;
      }
    }

    &.is-xlarge {
      font-size: calc(9.4rem * 0.75);

      @include desktop {
        font-size: 9.4rem;
      }
    }
  }
}

h2,
.h2 {
  font-size: 3.3rem;
  font-weight: 900;
  line-height: 1.1;

  @include tablet {
    font-size: 5.5rem;
  }
}

h3,
.h3 {
  font-size: calc(5.5rem * 0.75);

  @include tablet {
    font-size: 5.5rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
  line-height: 1.1;

  @include tablet {
    font-weight: 600;
    font-size: 3.8rem;
  }
}

h5,
.h5 {
  font-size: calc(2.2rem * 0.75);

  @include tablet {
    font-size: 2.2rem;
  }
}

h5,
.h5 {
  font-size: calc(1.8rem * 0.75);

  @include tablet {
    font-size: 1.8rem;
  }
}

p {
  margin: 1em 0;
  font-size: 2.3rem;
}

a {
  transition: 0.3s;
  transition-property: background-color, border-color, color;
}

strong,
.strong {
  font-weight: 600;
}

ul,
ol {
  list-style-position: inside;
}

ul:not(.is-clean) li {
  padding-left: 1em;
  position: relative;

  &::before {
    content: '-';
    left: 0;
    position: absolute;
  }
}

blockquote {
  color: $white;
  line-height: 1.2;

  font-size: 20px;
  @include tablet {
    font-size: 24px;
  }
}

.blockquote {
  &--small {
    max-width: 480px;
  }

  &--medium {
    max-width: 640px;
  }
}

cite {
  display: block;
  color: rgba($white, 0.5);
  padding-top: 10;
  &:before {
    content: '- ';
  }

  font-size: 16px;
  @include tablet {
    font-size: 20px;
  }
}