// Colors
$black: #000;
$black-bis: $black;
$black-ter: $black;
$white: #fff;
$white-ter: $white;
$white-bis: $white;
$grey-dark: #717171;
$grey: #999;
$grey-light: #d1d1d1;
$grey-lighter: #f5f5f5;
$red: #e50a6f;
$green: #4a773c;
$yellow: #E7D900;
$blue-light: #e6f6fc;

$vies-geel: #baa364;

$text: #233b0b;
$link: $green;

// Responsiveness
$gap: 24px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1368px;
$fullhd-enabled: false;

// Reset column-gap
$column-gap: $gap / 2;

// Logo
$logo-header-width: 230px;
$logo-header-width-widescreen: 340px;
$logo-footer-width: 208px;

// Custom hamburger settings
// Source https://jonsuh.com/hamburgers/
$hamburger-padding-x: 6px;
$hamburger-padding-y: 9px;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 3px;
$hamburger-layer-color: #707070;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;

// Hamburger type
$hamburger-types: (
  spring
);

// Button
$button-border-width: 0;
$button-focus-box-shadow-size: 0;
$button-focus-box-shadow-color: none;

// Card
$card-background-color: transparent;
$card-shadow: none;

// Modal
$modal-content-width: $widescreen - $gap * 2;

// Footer
$footer-background-color: transparent;
