.bottom-modal {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  color: $white;
  transform: translateY(100%);
  overflow-y: auto;

  p {
    margin-bottom: 16px;
    display: none;

    @include tablet {
      display: block;
    }
  }

  padding-top: 100px;
  padding-bottom: 10px;
  background-color: rgba($black, 0.9);
  height: 100%;

  @include tablet {
    height: auto;
    background-color: rgba($black, 0.6);
    padding-top: 10px;
    padding-bottom: 30px;
  }
}