@mixin checkbox-radio-button {
  label {
  }

  input {
    left: -9999em;
    position: absolute;

    &:checked + span {
      &::after {
        height: 14px;
        left: 5px;
        width: 14px;
      }
    }
  }

  span {
    display: block;
    padding-left: 32px;
    position: relative;

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background-color: $white;
      height: 24px;
      width: 24px;
    }
  }
}

@mixin checkbox {
  @include checkbox-radio-button;

  input {
    &:checked + span {
      &::after {
        content: url(../assets/images/icon-checkmark.svg);
        line-height: 1;
      }
    }
  }
}

@mixin radio-button {
  @include checkbox-radio-button;

  input {
    &:checked + span {
      &::after {
        background-color: rgba($text, 0.5);
        content: '';
      }
    }
  }

  span {
    &::before,
    &::after {
      border-radius: 50%;
    }
  }
}
